/* .modal-success-confirmation {
	display: none;
}
.modal-success-confirmation p {
	height: 900px;
	display: flex;
	align-items: center;
	justify-content: center;
} */
@media screen and (max-width: 1150px) {
	div.main-navbar a span {
		font-size: 1.1rem;
		margin: 5px 2px;
		padding: 12px 5px;
	}
	.hero-section {
		padding-left: 0;
	}
	h1.hero-headline {
		font-size: 4rem;
	}
	p.hero-text {
		font-size: 1.2rem;
		padding: 0 1px 0 0;
	}
}

@media screen and (max-width: 600px) {
	h1.hero-headline {
		font-size: 2.4rem;
	}
	p.hero-text {
		margin-top: 22px;
	}
}
